/*!
=========================================================
     * <1024px
=========================================================
*/
@media  only screen and (max-width :1024px) {
    /**********************Header**************************/
    #li-nav{
        display: none;
    }

    #menu{
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        padding: 20px;
        padding-right:40px ;
        font-size: 30px;
        z-index: 30000;
        transition: all 0.5s ease;  
    }

    .nav-bar{
        justify-content: space-between;
        padding: 0 ;
    }

    a.title{
        position: fixed;
        z-index: 1;
        padding: 5px 40px;
        top: 0;
        background-color:black;
        width: 100vw;
    }    
    .nav-bar ul li a{
        font-size: 3.5vw;
        font-weight: bold;
        transition: all 0.6s ease;
}
    .nav-bar ul {
        border-radius: 0;
        padding: 0;
}
    .nav-links-hover{
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(240, 139, 15, 0.144);
        backdrop-filter: blur(7px);
        transition: all 0.5s ease;    
}
 /**********************Menu-du-jour**************************/
 .item-menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    gap: 20px;
}
a.ai{
    height: 18em;
    width: 16.1em;
    display: flex;
    background-color: brown;
}
.menu-text{
    height: 8.5em;
    width: 15.5em;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.527);
    border-radius:0 0 7px 7px ;
}

.menu-text p{
   color: white;
   position: relative;
   font-size: 20px;
   padding-top: 9px ;
}
.orloge{
   display: flex;
   align-items: center;
   color: white;
   padding: 5px 2px;
   justify-content: flex-start;
}
.menu-commender{
    color: chocolate;
    font-weight: bold;
    padding: 0 10px;
}

.container{
    width: 110px;
    height: 20px;
    position: relative;
    padding: 0 0px;
}

.checked{
    color: chocolate;
}
#cmd{
    padding: 5px 5px;
    background-color: transparent;
    color: chocolate;
    text-decoration: none ;
}

}
/*!
=========================================================
     *LAPTOP VERSION
=========================================================
*/
 @media only screen and (max-width : 992px)
 {
/**********************Menu-du-jour**************************/

    /*Header-Texte*/
    .Header-Texte{
        padding:180px 100px;
    }
    .txt{
        color: white;
        font-size: 60px;
    }
/**********************Our-Storry**************************/
.Our-story{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100vh;
    width: auto;
    margin: auto;
    margin-bottom: 20px;
    gap: 40px;
    padding: 0 70px;
}
.Our-img{
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.lot-img1{
    margin: 15px 5px;
    padding: 30px 0;
}
.lot-img2{
    margin: 10px 2px;
}
.Our-img a{
    height:250px;
    width: 180px;
    display: flex;
}
.Story-txt{
    width: 50%;
    margin: auto;
}
 }
/*!
=========================================================
     * <768px
=========================================================
*/
 @media only screen and (max-width : 768px)
 {
/**********************header**************************/
 
     .head{
          height: auto;
          width:auto;
          position: relative;
      }
      #menu{
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        margin:20px 30px;
        font-size: 30px;
        z-index: 1;
    }
    .txt{
        padding-top: 20px;
    }
      .Header-Texte{
          padding:30px;
          height: auto;
      }
      .button{
        margin: 0;
      }
 /**********************Our-story**************************/
 .Our-story{
     flex-wrap: wrap;
     height: auto;
     padding:0 10px;
     order: 1;
 }
 .Our-img{
     width: 100vw;
     height: auto;
     flex-wrap: wrap;
     order: 1;
 }
 .Our-img a{
     height: 24vh;
     width: 20vw;
     min-width: 15vw;
     display: flex;
 }
 .lot-img1{
     margin: 0;
     padding:0;
     display: flex;
     flex-wrap: nowrap;
 }
 .lot-img2{
     margin: 0;
     display: flex;
     flex-wrap: nowrap;
 }
/*Story-txt*/
 .Story-txt{
     width: 100vw;
     height: auto;
     padding: 10px;
 }
 .Story-txt p{
     font-size: 2.3vw;
 }
 .Story-txt a{
    font-size: 2.3vw;
 }
  /**********************Menu-du-jour**************************/
.Menu-du-jour{
     height: auto;
     width:auto;
 }
 .item-menu{
    height: auto;
 }
.menu-title h1{
     font-size: 6vw;
}
.menu-title p{
     font-size: 2.3vw;
}
a.ai{
     height: 30vh;
     width: 25vw;
     } 
.menu1{
     background: transparent;
     height: auto;
 }
 .menu2{
     background: transparent;
     height: auto;
 }
 .menu3{
     background: transparent;
     height: auto;
 }
 .orloge{
     padding: 5px 5px;
  }
  #cmd{
     margin: 15px 5px;
 }
 .container{
     margin: 5px 1px;
     display: flex;
     flex-wrap: wrap;
 }
   /**********************Taste**************************/
.taste{
    height: auto;
     width: 100vw;
     display: flex;
     flex-wrap:wrap;
     gap: 20px;
 }
 .taste-txt{
     width: 100vw;
     height: auto;
     padding: 0 20px;
     margin: auto;
     
}
.taste-txt .button{
    margin: 25px;
}
.taste-txt h1{
     font-size: 5.5vw;
     padding: 25px;
}
.taste-txt p{
     font-size: 2.5vw;
     margin-bottom: 16px;
     padding: 25px;
}
 .taste-img{
     width: 100vw;
     height: 35vw;
     padding: 0 10px;
     display: flex;
     align-items: center;
 }
   .taste-img img{
     height:30vh;
     width: 90vw;
}
/*!
=========================================================
     * <700px
=========================================================
*/
}
@media only screen and (max-width : 700px)
{
 /**********************Header**************************/
 .txt{
     font-size: 5vw;
     padding-top: 50px;
 }
 .Header-Texte h3{
     font-size: 3vw;
 }
 .Header-Texte h1{
    margin: 0;
 }
 ul li{
    display: none;
 }
 .button{
     font-size: 2.5vw;
     padding: 7px 30px;
 }
 #menu{
    display: block;
 }
 /**********************Our-story**************************/
 .Our-story{
    height: auto;
 }
 .Our-img{
     width: 100vw;
     height: auto;
     flex-wrap: wrap;
     order: 1;
     margin-bottom: 25px;
 }
 .Our-img a{
     height: 24vh;
     width: 40vw;
     display: flex;
 }
 .Story-txt h1{
     font-size: 7vw;
 }
 .Story-txt p{
     font-size: 2.5vw;
 }
 .Story-txt a{
     font-size: 3vw;
 }
  /**********************Menu-du-jour**************************/
.Menu-du-jour{
    height: auto;
     width:auto;
 }
 .menu-title {
   margin-bottom: 20px;
}
.menu-title h1{
     font-size: 7vw;
}
.menu-title p{
     font-size: 3vw;
     padding: 0 15px;
}
.item-menu{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     margin: auto;
 }
  a.ai{
     height: 25vh;
     width: 60vw;
}
      
.menu1{
     background: transparent;
     height: auto;
     width: 60vw;
     margin-bottom: 10px;
 }
 .menu2{
    height: auto;
    width: 60vw;
    margin-bottom: 10px;
 }
 .menu3{
     background: transparent;
     height: auto;
     width: 60vw;
     margin-bottom: 10px;
 }
 .menu-text{
     height: auto;
     width: 60vw;
 }
 .menu-text p{
   font-size: 2.5vw;
 }
 .orloge{
     padding: 2px 5px;
  }
  #cmd{
     margin: 0;
 }
 .container{
     margin: 0;
     width: 110px;
     height: 20px;
     position: relative;
 }
 .menu-commender a{
     font-size: 2.5vw;
 }
  /**********************Taste**************************/
 .taste{
    gap: 20px;
 }
  .taste-img{
    height: auto;
 }
 .taste-txt{
    height: auto;
 }
  .taste-img{
    height: auto;
 }
  .taste-txt h1{
     font-size: 6vw;
}
  .taste-txt p{
      font-size: 2.5vw;
}
 /********************opignon***************************/
 #opignon-title{
    font-size: 25px;
    padding: 5px;
 }
 .p-opignon{
    flex-wrap: wrap;
 }
 .opignon-img{
    margin: auto;
 }

}
/*!
=========================================================
     * >600px
=========================================================
*/
@media only screen and (max-width : 600px)
{
/**********************Header**************************/
  .head{
     height: 75vw;
  }
  a.title{
    font-size: 40px;
}
  #menu{
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    margin:10px 30px;
    font-size: 30px;
    z-index: 1;
}
  .button{
     padding:10px 30px;
  }
  .Header-Texte{
     padding-top: 50px;
}
.Header-Texte h3{
    font-size: 18px;
}
/**********************Our-story**************************/
.Our-story{
     height: auto;
     margin-bottom: 30px;
 }
 .Our-img{
     height: auto;
     gap: 20px;
 }
 .Our-img a{
     height: 25vh;
     width: 60vw;
     margin: auto;
 }
 .lot-img1{
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
 }
 .lot-img2{
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
 }
 .Story-txt{
     height:auto;
     margin-bottom: 30px;
 }
 .Story-txt h1{
     font-size: 8vw;
 }
 .Story-txt p{
     font-size: 20px;
 }
 .Story-txt a{
     font-size: 4vw;
 }
 /**********************Menu-du-jou**************************/
.menu-title h1{
     font-size: 8vw;
}
.menu-title p{
    font-size: 20px;
}
 /**********************Taste**************************/
 .taste-txt h1{
     font-size: 8vw;
}
  .taste-txt p{
    font-size: 20px;
}
}
/*!
=========================================================
     * >375px
=========================================================
*/
 @media  only screen and (max-width : 375px) {

/**********************Header**************************/
  .head{
    height: auto;
  }
    a.title{
        font-size: 30px;
    }
    .Header-Texte{
        padding-top: 30px;
    }
    .button{
        font-size: 15px;
    }

 }
 