/*!
=========================================================
     * <1024px
=========================================================
*/
@media  only screen and (max-width :1024px) {
    /**********************Header**************************/
    #li-nav{
        display: none;
    }

    #menu{
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        padding: 20px;
        padding-right:40px ;
        font-size: 30px;
        z-index: 30000;
        transition: all 0.5s ease;  
    }

    .nav-bar{
        justify-content: space-between;
        padding: 0 ;
    }

    a.title{
        position: fixed;
        z-index: 1;
        padding: 0 40px;
        padding-top: 10px;
        top: 0;
        background-color:black;
        width: 100vw;
    }    
    .nav-bar ul li a{
        font-size: 3.5vw;
        font-weight: bold;
        transition: all 0.6s ease;
}
    .nav-bar ul {
        border-radius: 0;
        padding: 0;
}
    .nav-links-hover{
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(240, 139, 15, 0.144);
        backdrop-filter: blur(7px);
        transition: all 0.5s ease;    
}
 /**********************Menu-du-jour**************************/
 .item-menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    gap: 20px;
}
a.ai{
    height: 18em;
    width: 16.1em;
    display: flex;
    background-color: brown;
}
.menu-text{
    height: 8.5em;
    width: 15.5em;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.527);
    border-radius:0 0 7px 7px ;
}

.menu-text p{
   color: white;
   position: relative;
   font-size: 20px;
   padding-top: 9px ;
}
.orloge{
   display: flex;
   align-items: center;
   color: white;
   padding: 5px 2px;
   justify-content: flex-start;
}
.menu-commender{
    color: chocolate;
    font-weight: bold;
    padding: 0 10px;
}

.container{
    padding: 0 0;
}


#cmd{
    padding: 5px 5px;
}
/***************Our-chrfs****************************/
.our-chefs{
    height: auto;
    width: 100vw;
}
}
/*!
=========================================================
     *LAPTOP VERSION
=========================================================
*/
 @media only screen and (max-width : 992px)
 {
/**********************Header**************************/

    /*Header-Texte*/
    .Header-Texte{
        padding:180px 100px;
    }
    .txt{
        color: white;
        font-size: 60px;
    }
/**********************Our-Storry**************************/
.Our-story{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100vh;
    width: auto;
    margin: auto;
    margin-bottom: 20px;
    gap: 20px;
    padding: 0 70px;
}

.lot-img1{
    margin: 15px 2px;
    padding: 30px 0;
}
.lot-img2{
    margin: 10px 2px;
}

.Our-img a{
    height:26vh;
    width: 19vw;
    display: flex;
}
.Story-txt h1{
    font-size: 45px;
}
/**********************Menu**************************/
a.ai{
    height: 40vh;
    width: 28vw;
    display: flex;
    background-color: brown;
}

.menu-text{
    height: auto;
    width: 26.9vw;
    background-color: rgba(0, 0, 0, 0.527);
    border-radius:0 0 7px 7px ;
}

.menu-text p{
   color: white;
   position: relative;
   font-size: 20px;
   padding: 0 10px;
   padding-top: 9px ;
}
.orloge{
   display: flex;
   align-items: center;
   color: white;
   padding: 5px 5px;
   justify-content: flex-start;
}
.menu-commender{
    color: chocolate;
    font-weight: bold;
    padding: 0 10px;
}

.container{
    width: 110px;
    height: 20px;
    position: relative;
    padding: 0 10px;
}

/**********************Taste**************************/
.taste{
    height: 100vh;
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    padding: 0 80px;
    margin-bottom:35px ;
    gap: 20px;
}
.taste-txt{
    width: 50%;
    margin: auto;
}
.taste-txt h1{
   font-size: 40px;
}
.taste-txt .button {
    padding: 7px 20px;
}
 /*Taste-img*/
.taste-img{
    width: 50%;
    margin: auto;
    text-align: center;
}
.taste-img img{
    object-fit: cover;
    object-position: center;
    height:65vh;
    width: 40vw;
    margin: auto;
}
/**********************Opignon**************************/ 
#opignon-title{
    padding-top: 25px;
    padding-bottom: 50px;
    font-size: 40px;
}
.p-opignon{
    width: 80%;
    gap: 15px;

}
/**********************Our-chef**************************/
.our-chef-body{
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    padding: 0 5px;
    gap: 10px;
}
.chef1-img ,.chef2-img , .chef3-img{
    height:350px;
    width: 200px;
}
/*!
=========================================================
     * <768px
=========================================================
*/
 @media only screen and (max-width : 768px)
 {
/**********************header**************************/
 
     .head{
          height: auto;
          width:100vw;
          position: relative;
      }
    .Header-Texte{
        padding:70px 30px;
        height: auto;
    }
    .button{
        margin: 0;
      }
 /**********************Our-story**************************/
 .Our-story{
     flex-wrap: wrap;
     height: auto;
     padding:0 10px;
     order: 1;
 }
 .Our-img{
     width: 100vw;
     height: auto;
     flex-wrap: wrap;
     order: 1;
 }
 .Our-img a{
     height: 34vh;
     width: 20vw;
     display: flex;
 }
 .lot-img1{
     margin: 0;
     padding:0;
     display: flex;
     flex-wrap: nowrap;
 }
 .lot-img2{
     margin: 0;
     display: flex;
     flex-wrap: nowrap;
 }
/*Story-txt*/
 .Story-txt{
     width: 100vw;
     height: auto;
     padding: 10px;
 }
 .Story-txt p{
     font-size: 20px;
 }
 .Story-txt a{
    font-size: 20px;
 }
  /**********************Menu-du-jour**************************/
  .Menu-du-jour{
    margin-bottom: 20px;
    height: auto;
  }
  .menu-title p{
    padding:0 100px;
    font-size: 20px;
}
  a.ai{
    height: 30vh;
    width: 28vw;
}
  .menu-title h1{
     font-size: 50px;
}
.menu-title p{
     font-size: 20px;
}
 }
   /**********************Taste**************************/
.taste{
    height: auto;
     width: 100vw;
     display: flex;
     flex-wrap:wrap;
     gap: 20px;
     padding: 0;
 }
 .taste-txt{
     width: 90%;
     height: auto;
     margin: auto;
     
}

.taste-txt h1{
     font-size: 50px;
     padding: 25px 0;
}
.taste-txt p{
     font-size: 20px;
     margin-bottom: 16px;
     padding: 25px 0;
}
 .taste-img{
     width: 100vw;
     height: 35vw;
     display: flex;
     align-items: center;
 }
 .taste-img img{
    object-fit: cover;
    object-position: center;
    height:40em;
    width: 30em;
    margin: auto;
    display: flex;
}
   .taste-img img{
     height:30vh;
     width: 80%;
}
/**********************Opignon**************************/ 
#opignon-title{
    padding-top: 25px;
    padding-bottom: 50px;
    font-size: 40px;
}
.p-opignon{
    width: 80%;
    gap: 15px;

}
/**********************Our-chef**************************/
.our-chef-body{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
    gap: 10px;
}
.chef1 , .chef2 , .chef3{
    height: auto;
    width: 80%;
    margin: auto;
    gap: 10px;
}
.chef1-img ,.chef2-img , .chef3-img{
    height:350px;
    width: 80%;
}
.chef1-name , .chef2-name , .chef3-name{
    height: 100px;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
/*!
=========================================================
     * <700px
=========================================================
*/
}
@media only screen and (max-width : 700px)
{
 /**********************Header**************************/
 .txt{
     font-size: 5vw;
     padding-top: 20px;
 }
 .Header-Texte h3{
     font-size: 20px;
 }
 .Header-Texte h1{
    font-size: 30px;
    margin: 0;
 }
 
 /**********************Our-story**************************/
 .Our-story{
    height: auto;
 }
 .Our-img{
     width: 100vw;
     height: auto;
     flex-wrap: wrap;
     order: 1;
     margin-bottom: 25px;
 }
 .Our-img a{
     height: 24vh;
     width: 40vw;
     display: flex;
 }
 .Story-txt h1{
     font-size: 7vw;
 }
 .Story-txt p{
     font-size: 2.5vw;
 }
 .Story-txt a{
     font-size: 3vw;
 }
  /**********************Menu-du-jour**************************/
.Menu-du-jour{
    height: auto;
     width:auto;
 }
 .menu-title {
   margin-bottom: 20px;
}
.menu-title h1{
     font-size: 7vw;
}
.menu-title p{
     font-size: 3vw;
     padding: 0 15px;
}
.item-menu{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     margin: auto;
 }
  a.ai{
     height: 25vh;
     width: 60vw;
}
      
.menu1{
     background: transparent;
     height: auto;
     width: 60vw;
     margin-bottom: 10px;
 }
 .menu2{
    height: auto;
    width: 60vw;
    margin-bottom: 10px;
 }
 .menu3{
     background: transparent;
     height: auto;
     width: 60vw;
     margin-bottom: 10px;
 }
 .menu-text{
     height: auto;
     width: 60vw;
 }
 .menu-text p{
   font-size: 2.5vw;
 }
 .orloge{
     padding: 2px 5px;
  }
  #cmd{
     margin: 0;
 }
 .container{
     margin: 0;
     width: 110px;
     height: 20px;
     position: relative;
 }
 .menu-commender a{
     font-size: 2.5vw;
 }
  /**********************Taste**************************/
 .taste{
    gap: 20px;
 }
  .taste-img{
    height: auto;
 }
 .taste-txt{
    height: auto;
 }
  .taste-img{
    height: auto;
 }
  .taste-txt h1{
     font-size: 6vw;
}
  .taste-txt p{
      font-size: 2.5vw;
}
 /********************opignon***************************/
.opignon{
    height: auto;
} 
#opignon-title{
    font-size: 40px;
 }
 .p-opignon{
    flex-wrap: wrap;
 }
 .opignon-img{
    margin: auto;
 }

}
/*!
=========================================================
     * >600px
=========================================================
*/
@media only screen and (max-width : 600px)
{
/**********************Header**************************/
  .head{
     height: auto;
  }
  a.title{
    font-size: 40px;
}


#menu{
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    padding: 15px 0;
    padding-right:40px ;
    font-size: 30px;
    z-index: 30000;
    transition: all 0.5s ease;  
}

a.title{
    position: fixed;
    z-index: 1;
    padding: 5px 40px;
    top: 0;
    background-color:black;
    width: 100vw;
}    

.button{
     padding:10px 30px;
     font-size: 15px;
  }
.Header-Texte{
     padding-top: 50px;
}
.Header-Texte h3{
    font-size: 18px;
}
/**********************Our-story**************************/
.Our-story{
     height: auto;
     margin-bottom: 30px;
 }
 .Our-img{
     height: auto;
     gap: 20px;
 }
 .Our-img a{
     height: 25vh;
     width: 60vw;
     margin: auto;
 }
 .lot-img1{
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
 }
 .lot-img2{
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
 }
 .Story-txt{
     height:auto;
     margin-bottom: 30px;
 }
 .Story-txt h1{
     font-size: 8vw;
 }
 .Story-txt p{
     font-size: 20px;
 }
 .Story-txt a{
     font-size: 20px;
 }
 /**********************Menu-du-jou**************************/
.item-menu{
    width: auto;
}
 a.ai{
    width: auto;
}
.menu-text{
    width: auto;
}
 .menu-title h1{
     font-size: 40px;
}
.menu-title p{
    font-size: 20px;
}
.menu-text p{
    font-size: 17px;
}
#cmd{
    font-size: 15px;
}
 /**********************Taste**************************/
 .taste-txt h1{
     font-size: 40px;
}
  .taste-txt p{
    font-size: 20px;
}
/**********************Our-chefs********************/
.our-chef-head h1{
    font-size: 40px;
}
.our-chef-head p{
    padding: 10px;
}
}
/*!
=========================================================
     * >375px
=========================================================
*/
 @media  only screen and (max-width : 375px) {

/**********************Header**************************/
.head{
    height: auto;
}
#menu{
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    padding: 10px 0;
    padding-right:20px ;
    font-size: 30px;
    z-index: 30000;
    transition: all 0.5s ease;  
}
    a.title{
        font-size: 30px;
    }
    .Header-Texte{
        height: auto;
        padding: 0 5px;
        padding-top: 50px;
    }
    .Header-Texte h1{
        font-size: 30px;
    }
    .Header-Texte h3{
        font-size: 20px;
        padding:20px 0;
        margin: auto;
    }
    .Header-Texte .button{
        font-size: 15px;
        padding: 5px 10px;
        margin-bottom: 20px;
    }
   
 }
 