
/*!
=========================================================
     *GENERAL
=========================================================
*/
*{
    margin: 0;
    padding: 0;
    border-style: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.877);
}

/*!
=========================================================
     *HEADER
=========================================================
*/
/*Nav*/

.head{
    height: 100vh;
    width:100vw;
    position: relative;
    background-color: rgba(0, 0, 0, 0.452);
    background: url(./Img/Restaurant.jpg) ;
    background-position: bottom;
    background-size: cover;
}
.head::before{ 
    background-color: rgba(0, 0, 0, 0.753);
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 60%;
    
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.603);
    color: White;
    padding: 0 20px ;
    position: relative;
    transition: all 0.5s ease;  
}
.title{
    font-weight: lighter;
    font-family: 'Qwigley', cursive;
    font-size: 60px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.title::first-letter{
   color: chocolate;
}
.nav-bar ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5vw;
    font-size: 20px;
    border-radius: 15px;
    transition: all 0.6s;
}
.nav-bar ul li a{
    border-radius: 15px;
    padding: 5px 20px;
    transition: all 0.6s;
    cursor: pointer;
    text-decoration: none;
    color: white;
    box-shadow: 2px  2px chocolate;
    transition: all 0.5s ease;  
}
.nav-bar ul li:nth-of-type(2) a{
   color: chocolate;
   background-color: white;
}
.nav-bar ul li:nth-of-type(2) a:hover{
    color: white;
    transition: all 0.6s;
    background-color: transparent;
    box-shadow: 2px  3px chocolate;
 }
.nav-bar ul li a:hover{
    color: white;
    font-size: 21px;
    transition: all 0.6s;
    box-shadow: 2px  3px chocolate;
}
#menu{
    font-size: 50px;
    cursor: pointer;
    display: none;
    transition: all 0.6s;
}
.material-symbols-outlined{
    font-size: 30px;
    transition: all 0.6s;
    display: none;
}

/*Header-Texte*/
.Header-Texte{
    padding: 100px 180px;
    color: white;
    position: relative;
    text-align: center;
    margin: auto;
    gap: 10px;
}
.txt{
    color: white;
    font-size: 80px;
    letter-spacing: 0.3vw;  
    font-size: 130px;
    font-family:'Times New Roman', Times, serif;
}
.Header-Texte h3{
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.993);
    font-size: 50px;
}
.Header-Texte .button{
    margin: auto;
    margin: 25px 0;
    font-size: 20px;
    border-radius: 15px;
    padding:10px 40px;
    transition: all 0.6s;
    color: white;
    background-color: chocolate;
    cursor: pointer;
    position: relative;
    box-shadow: 2px  2px white;
}
.button:hover{
    font-size: 23px;
    transition: all 0.6s;
    box-shadow: 3px  3px white;
}
/*!
=========================================================
     *Menu-Pizza
=========================================================
*/
/*Nav*/

.menu-pizza{
    height: 100vh;
    width: 100vw;
    background: url(./Img/img4.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.menu-pizza::before{
   position: absolute;
   background-color: rgb(0, 0, 0);
   content: "";
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   opacity: 60%;  
}
.head-menu{
    padding-top: 20px;
    text-align: center;
    position: relative;
}
.head-menu h1{
    font-size: 90px;
    color: chocolate;
}
.head-menu p{
    font-size: 60px;
    color: white;
}